.zenmarket--btn-group {
  position: relative;
  display: inline-block;
}

.zenmarket--dropdown {
  position: absolute;
  top: -9px;
  right: 81px;
  z-index: 1000;
  display: none;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 13px;
  text-align: left;
  list-style: none;
  background-color: #1088cc;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.zenmarket--open>.zenmarket--dropdown {
  display: block;
}

.zenmarket--dropdown>li>a {
  display: block;
  text-align: left;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #FFF;
  white-space: nowrap;
}

.zenmarket--dropdown>li {
  margin-left: 0px;
}

.zenmarket--dropdown>li {
  a:hover, a:focus, a:active {
    background: #005888;
    text-decoration: none;
  }
}
