$mobile-small-width: 360px;
$mobile-medium-width: 480px;
$tablet-width: 768px;
$iframe-width: 371px;

.drizzle-mobile-widget-active {
  position: fixed !important;
  overflow: hidden !important;
  width: 100%;
  height: 100%;
}

#zenmarket-footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 60px;
  z-index: 2147483646;
}

#zenmarket-widget {
  #zenmarket-widget-button {
    position: fixed;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 2147483646;
    border-radius: 27px;
    left: 20px;
    bottom: 15px;


    .fa-lock, .fa-unlock-alt {
      font-size: 40px;
    }

    .paid-lock {
      img {
        width: 40px;
        height: 40px;
        box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        transition: box-shadow .2s ease;
      }

      img:hover {
        box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.25);
      }

      div{
        // background: url(https://s3-us-west-1.amazonaws.com/zenmarket/drizzle-red.png);
        // background: url(https://s3-us-west-1.amazonaws.com/zenmarket/drizzle-logo.svg?v=1);
        // display: block;
        // width: 40px;
        // height: 40px;
        // background-repeat: no-repeat;
        // background-size: 100%;
        // box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.2);
        // border-radius: 50%;
        // z-index: 2147483645;
      }
    }

    .gray-lock {
      color: gray;
    }
  }

  .zenmarket-iframe-wrapper {
    display: none;
    background: white;
    box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.2);
    // border-left: 1px #b1b1b1 solid;
    position: fixed;
    height: 100vh;
    width: $iframe-width;
    margin: 0 !important;
    left: auto;
    top: 0;
    right: 0;
    z-index: 2147483647;

    @media only screen and (max-width: $mobile-medium-width) {
      width: 100%;
    }

    .zenmarket-iframe {
      height: 100vh;
      width: 100%;
      border: none;

      @media only screen and (min-width: $mobile-medium-width) {
        padding-bottom: 10px;
      }

    }

    button:focus {
      outline: 0;
    }
  }



  button#drizzle-close-button {
    border: none;
    background: transparent;
    margin: 0px !important;
    padding: 9px !important;
    color: #333 !important;
    box-shadow: none !important;
    line-height: 1em !important;
    opacity: 0.7 !important;

    i.fa.fa-times-circle {
      font-size: 17px !important;
    }
  }
}

#zenmarket-footer {
  .drizzle-footer-bar {
    z-index: 2147483646;
  }
}

#zenmarket--wrapper {
  .zenmarket--btn {
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #1088cc;
    font-size: 15px;
    letter-spacing: 0.02em;
    padding: 10px 15px;
    margin: 5px;
    height: auto !important;
  }

  .zenmarket--thumbnail {
    cursor: pointer;
  }

  hr.paywall {
    width: 100%;
    margin-bottom: 5px;
    border-top: 1px solid #64baeb;
    background-color: #64baeb;
  }
  span.upvoteCount {
    float: right;
    margin-bottom: 5px;
    margin-right: 5%;
    font-size: 18px;
    opacity: 0.6;
  }
  .login-section, .read-more {
    text-align: center;
    padding: 10px;
  }
  .read-more-img {
    margin: 0px 0px 0px 2px;
    display: inline;
    vertical-align: sub;
    padding: 0px;
    background: none;
    border: none;
  }
  .login-cta {
    color: #222222 !important;
    font-size: 15px !important;
    // text-align: left !important;
    opacity: 0.8 !important;
  }
  .zenmarket--login-button,
  .zenmarket--signup-button,
  .zenmarket--pay-button,
  .zenmarket--subscribe-button {
    margin: 10px;
    text-align: center !important;
  }

  .float-r {
    float: right !important;
  }

  .margin-t-0 {
    margin-top: 0px !important;
  }

  .margin-l-10 {
  margin-left: 10px !important;
  }

  span.powered {
    font-size: 12px !important;
  }

  img#powered {
    margin-bottom: 0px !important;
    display: inherit;
  }

  .zenmarket--read-later {
    display: none;
  }

  @import 'dropdown';
  @import 'tabs';
  @import 'loader';
  @import 'modal';
}

@import 'components';
@import "./font-awesome/font-awesome.scss";
