.tabs {
  border: 1px solid rgba(0, 0, 0, 0.1);
  .tab {
    cursor: pointer;
    background-color: white;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    border-left: 0;
    padding: 10px 15px;
    transition: all 0.2s ease;
    position: relative;

    &.active {
      background-color: #32a8d9;
      color: white;
    }

    &:hover {
      background-color: #32a8d9;
      color: white;
    }
  }
}
