table#history {
  width: 100%;
  text-align: left;
}

table#auto {
  margin: 0px auto;
}

@media screen
 and (max-device-width: 359px)
 and (min-device-width: 240px) {
  table#history {
    width: 99%;
    text-align: left;
    height: 130px;
    overflow: scroll;
    display: block;
  }
}
